/* especificidad: (0,0,2) */
section aside {
    display: flex;
    background-color: #f0f0f0;      /*Advertencia color de fondo establecido y no de primer plano (lo hereda). Comprobada y verificada*/
    border: 1ex dashed #684186;
    height: 30ex;
    justify-content: center; 
    align-items: center;
    margin-bottom: 1ex;
}

/* especificidad: (0,0,2) */
body > aside {
    width: 100%;
    height: 85ex;
    margin-top: 5ex;
}


/* especificidad: (0,0,1) */
button {
    background-color: #B29CDC;
    color: #000000;
    padding: 2ex;
    border-color: #000000;
    border-radius: 2ex;
    cursor: pointer;
}
