/* especificidad: (0,0,1) */
main {
    width: 100%;
    height: 85ex;
    margin-top: 5ex;
}

/* especificidad: (0,0,1) */
section {
    padding-top: 5ex;
}

/* especificidad: (0,0,1) */
aside {
    display: flex;
    background-color: #f0f0f0;      /*Advertencia color de fondo establecido y no de primer plano (lo hereda)*/
    border: 1ex dashed #254b26;
    height: 30ex;
    width: 100%;
    justify-content: center; 
    align-items: center;
    margin-bottom: 1ex;
}

/* especificidad: (0,0,1) */
button {
    height: 50px; 
    background-color: #254b26; 
    color: white; 
    border: none;
    cursor: pointer; 
}
