/* Especificidad: (0,0,1) */
main {
    display: grid;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 70ex;
}

/* Especificidad: (0,0,1) */
aside {
    display: grid;
    grid-template-columns: repeat(9, auto); 
    justify-items: center; 
    align-items: center;  
    
}

/* Especificidad: (0,0,1) */
form {
    color: black;                   /*Advertencia: Hay un color de primer plano establecido y no hay color de fondo*/
}
 
/* Especificidad: (0,0,2) */
aside > p {
    border: 0.1ex solid #000; 
    width: 10ex;
    height: 100%;
    cursor: pointer; 
    display: grid;
    align-items: center; 
    justify-content: center; 
}

/* Especificidad: (0,1,2) */
aside > p[data-state="empty"] {
    background-color: #000;         /*Advertencia: Hay un color de fondo establecido y no hay color de primer plano*/
}

/* Especificidad: (0,1,2) */
aside > p[data-state="blocked"], aside p[data-state="empty"] {
    cursor: default; 
}

/* Botonera */
/* Estilos para dispositivos con un ancho de pantalla de hasta 1023px (móviles y tablets) */
@media only screen and (max-width: 1023px) {
    section[data-type=botonera] {
      display: flex;
      gap: 1em;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
    }
  
    section[data-type=botonera] h2 {
      width: 100%;
      text-align: center;
    }
  
    section[data-type=botonera] button {
      width: calc(15% - 1em);
      height: 4em;
      text-align: center;
      background-color: #000;
      color: #FFF;
    }
}
  
  /* Ocultar la sección en pantallas más grandes (PC) */
  @media only screen and (min-width: 1024px) {
    section[data-type=botonera] {
      display: none;
    }
}





