/* layout.css */

/* Aplicar Flexbox al encabezado */
header {
    display: flex; 
    justify-content: space-between; 
    align-items: baseline; 
}



/* Estilos para pantallas móviles (ancho menor a 768px) */
@media screen and (max-width: 767px) {
    header {
        flex-flow: column wrap;
        justify-content: space-around;  /*Redefinicion de justify-content de header */ 
        align-items: stretch;           /*Redefinicion de align-items; de header */ 
        align-content: flex-start;
    } 
    nav {
        display: flex;
        flex-direction: column;
    }

    nav a {    
        padding: 1ex;
    }

}
