
/* especificidad {0,0,1} */
main {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 2ex;
}

/* especificidad {0,0,1} */
article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.1ex solid #484848;
    margin-bottom: 1ex;
    padding: 1ex;
    text-align: left;
    position: relative;
    border-radius: 2ex;
    box-shadow: 1ex 2ex 2ex #0000001A;
}


/* especificidad {0,0,2} */
article ul {
    list-style-type: none;
    padding: 0;
}


/* especificidad {0,1,3} */
article ul li:nth-child(2) {
    color:#900000;              /*Advertencia primer plano establecido y no hay color de fondo. Hereda de body. Comprobada y verificada*/
}

/* especificidad {0,1,3} */
article ul li:nth-child(3) {
    color:#08007f;              /*Advertencia primer plano establecido y no hay color de fondo. Hereda de body. Comprobada y verificada*/
}

/* especificidad {0,0,1} */
img {
    max-width: 6.3ex;
    max-height: 6.3ex;
    background-color: #82b8ff;  /*Advertencia color de fondo y no color de primer plano. Hereda "color: #000000; de body. Comprobada y verificada*/
    position: absolute; 
    top: 0;
    right: 0;
    border-radius: 2ex;
}
