/* especificidad: (0,0,1) */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2ex;
    padding-top: 2ex;
    width: 85vw;
}

/* especificidad: (0,0,1) */
article {
    width: calc(33.33% - 2ex);
    background-color: #fff;         /*Advertencia color de fondo y no de primer plano. Comprobada y verificada*/
    border: 0.2ex solid #000000;            
    padding: 0.5ex;
    border-radius: 2ex;
    box-sizing: border-box;
    box-shadow: 1ex 2ex 2ex #0000001A; 
    margin-bottom: 2em;
}

/* especificidad: (0,0,1) */
aside {
    width: 85vw;
    display: flex;
    flex-direction: column;
    border: 0.2ex solid #000000;            
    padding: 1ex;
    border-radius: 2ex;
    box-sizing: border-box;
    box-shadow: 1ex 2ex 2ex #0000001A;
}

/* especificidad: (0,0,1) */
input {
    margin-bottom: 1ex;
}

/* especificidad: (0,0,1) */
textarea {
    margin-right: 1ex; 
    margin-bottom: 1ex;
}

/* especificidad: (0,0,1) */
button {
    margin-top: 1.5em;
    background-color: #B29CDC;
    color: rgb(0, 0, 0);
    padding: 1ex;
    border-color: #000000;
    border-radius: 2ex;
    cursor: pointer;
    align-self: center; 
}


/*MediaQuery para moviles reducir tamaño texto titulo y subtitulo noticia*/
@media (max-width: 767px) {
    article h3,  article h4{
        font-size: 1.2em;
    }
}

