/* especificidad: (0,0,1) */
section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2ex;
    padding-top: 2ex;
}

/* especificidad: (0,0,1) */
article {
    width: calc(33.33% - 2ex);
    background-color: #fff;         /*Advertencia color de fondo y no de primer plano*/
    border: 0.2ex solid #000000;            
    padding: 1ex;
    border-radius: 2ex;
    box-sizing: border-box;
    box-shadow: 1ex 2ex 2ex rgba(0, 0, 0, 0.1); 
}