/* Especificidad: (0,0,1) */
body {
    display: grid;
    align-items: center;
    justify-content: center;
}

/* Especificidad: (0,0,1) */
main {
    display: grid;
    grid-template-columns: repeat(9, auto); 
    justify-items: center; 
    align-items: center; 
    width: 500px;
    height: 500px;
}
 
/* Especificidad: (0,0,2) */
main p {
    border: 1px solid #000; 
    width: 100%;
    height: 100%;
    font-size: 20px; 
    cursor: pointer; 
    display: grid;
    align-items: center; 
    justify-content: center; 
    border-left-width: 0px;     /*Advertencia: Redefinición de border-left-width*/
    border-bottom-width: 0px;   /*Advertencia: Redefinición de border-left-width*/
}
  
/* Especificidad: (0,1,2) */
main p[data-state="blocked"], main p[data-state="correct"] {
    cursor: default; 
}

/* Especificidad: (0,2,3) */
main p:nth-child(n):nth-child(-n+9) {
    border-top-width: 4px;
}

/* Especificidad: (0,2,2) */
main p:nth-child(n+73):nth-child(-n+81) {
    border-bottom-width: 4px;
}

/* Especificidad: (0,1,2) */
main p:nth-child(3n) {
    border-right-width: 4px;
}

/* Especificidad: (0,1,2) */
main p:nth-child(9n+1) {
    border-left-width: 4px;
}

/* Especificidad: (0,2,2) */
main p:nth-child(n+19):nth-child(-n+27) {
    border-bottom-width: 4px;
}

/* Especificidad: (0,2,2) */
main p:nth-child(n+46):nth-child(-n+54) {
    border-bottom-width: 4px;
}


