/* especificidad: (0,0,1) */
button {
    background-color: rgb(178, 156, 220);
    color: rgb(0, 0, 0);
    padding: 1ex;
    border-color: #000000;
    border-radius: 2ex;
    cursor: pointer;
    align-self: center; 
}

/* especificidad: (0,0,1) */
aside {
    width: 100%;
    height: 85ex;
}

h4 {
    font-size: 1.3em; 
    background-color: #c2c2c2;
}

h5 {
    font-size: 1.2em; 
}

h6 {
    font-size: 1.1em; 
}





